@using Service.Models
@{
    ArticleDTO article = ViewData["articleId"] as ArticleDTO;
}

<header>
    <h3>Blåatoppens dagblad</h3>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        <div id="colorslide">Byt tema</div>
    </div>
</header>

<body>
    <div class="maincontainerNews">
        <div class="NewsTitleImg">
            @{
                <img src="~/images/@article.ImageName" class="newsPic" alt="image" />
                <p id="TitleInImg">@article.Title</p>
            }

        </div>
        <div class="newsAuthor">
        @{
            <p id="authorCreated">@article.Created</p>
           
            <img src="~/images/@article.Author.ImageName" class="AuthorPic" alt="image" />
            <p id="newsAuthorName">@article.Author.FirstName @article.Author.LastName</p><br>
            <a class="links" id="mail" href="@article.Author.Mail"> <i class="fa-regular fa-envelope"></i> E-Post</a><br />
            <a class="links" id="twitter" href="@article.Author.TwitterUserName"><i class="fa-brands fa-twitter"></i> Twitter </a>

        }
        </div>
        <div class="newsAds"></div>
        @{
                    Random rnd = new Random();
                    int rand = rnd.Next(1, 4);

                    <a id="articleAdsLink" href=https://www.buyawesomestuff.com target="_blank">
                        <picture>
                            <source media="(min-width: 0px) and (max-width: 700px)" srcset="~/ads/reklam-@rand-landscape-470w.png">
                            <source media="(min-width: 701px) and (max-width: 2500px)" srcset="~/ads/reklam-@rand-portrait-320w.png">
                            <img src="~/ads/reklam-@rand-portrait-320w.png" class="adsPic" alt=image>
                        </picture>
                    </a>
                }
        <div class="newsComments"></div>

    </div>
</body>

<footer>
    <div id="footer1" class="footerobj">
        <h2>Blåatoppens dagblad</h2>
        <p>Bettorpsgatan 10</p>
        <p>703 69 Örebro</p>
        <a id="admin" href="https://localhost:7208/Admin">Admin</a>
    </div>
    <div id="footer2" class="footerobj">
        <h2>Om oss</h2>
        <p>
            Dagstidningen Blåatoppens dagblad grundades 1821. Tidningen har under 100 år varit
            den mest lästa tidningen i hela Blåatoppen. Ambitionen med tidningen har sedan dess
            grundande varit att tillhandahålla medborgarna med nyhetsrapportering av den allra
            högsta kvalitén. Blåatoppens dagblad finns i dag tillgänglig som papperstidning. etidning,
            sajt, ljud-tidning och VR-upplevelse.
        </p>
    </div>
</footer>