@using Service.Models
@model Service.Models.CreateCommentDTO
@{
    ArticleDTO article = ViewData["articleId"] as ArticleDTO;

}

<header>
    <h3>Blåatoppens dagblad</h3>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        <div id="colorslide">Byt tema</div>
    </div>
</header>

<body>
    <div class="maincontainerNews">
        <div class="NewsTitleImg">
            @{
                <img src="~/images/@article.ImageName" class="newsPic" alt="image" />
                <p id="TitleInImg">@article.Title</p>
            }

        </div>
        <div class="AuthorAndAd">
            <div class="newsAuthor">
                @{
                    <p id="authorCreated">@article.Created</p>

                    <img src="~/images/@article.Author.ImageName" class="AuthorPic" alt="image" />
                    <p id="newsAuthorName">@article.Author.FirstName @article.Author.LastName <i class="fa-solid fa-circle-info"></i></p>

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <p id="authorCreated2">@article.Created</p>
                            <span class="close">&times;</span>
                            <img src="~/images/@article.Author.ImageName" class="AuthorPic2" alt="image" />
                            <p id="newsAuthorName2">@article.Author.FirstName @article.Author.LastName </p>
                            <br>
                            <a class="links2" id="mail2" href="@article.Author.Mail"> <i class="fa-regular fa-envelope"></i> E-Post</a>

                            <br />
                            <a class="links2" id="twitter2" href="@article.Author.TwitterUserName"><i class="fa-brands fa-twitter"></i> Twitter </a>
                        </div>
                    </div>

                    <br>
                    <a class="links" id="mail" href="@article.Author.Mail"> <i class="fa-regular fa-envelope"></i> E-Post</a>

                    <br />
                    <a class="links" id="twitter" href="@article.Author.TwitterUserName"><i class="fa-brands fa-twitter"></i> Twitter </a>

                }
            </div>
            <div class="newsAds"></div>
            @{
                Random rnd = new Random();
                int rand = rnd.Next(1, 4);

                <a id="articleAdsLinkNews" href=https://www.buyawesomestuff.com target="_blank">
                    <picture>
                        <source media="(min-width: 0px) and (max-width: 700px)" srcset="~/ads/reklam-@rand-landscape-940w.WebP">
                        <source media="(min-width: 701px) and (max-width: 2500px)" srcset="~/ads/reklam-@rand-portrait-320w.WebP">
                        <img src="~/ads/reklam-@rand-portrait-320w.WebP" class="adsPicNews" alt=image>
                    </picture>
                </a>
            }
        </div>
        <div class="ArticleAndComments">
            <div class="newsArticle">
                @{
                    foreach (var block in article.Blocks)
                    {
                        if (block.Type == "paragraph")
                        {
                            <p class="newsParagraph scroll">@block.Value</p>
                        }
                        if (block.Type == "image")
                        {
                            <img src="~/images/@block.Value" class="AricleNewsPic scroll" alt="image" />
                        }
                        if (block.Type == "quote")
                        {
                            <p class="newsQuote scroll"> <i class="fa-solid fa-quote-left"></i> @block.Value <i class="fa-solid fa-quote-right"></i></p>
                        }

                    }
                }
            </div>


            <div class="newsComments">
                <p id="commentheader"></p>
                <div class="commentheader">
                    <h3>@article.Comments.Count() Kommentarer</h3>
                    <div id="buttoncreate" onclick="myHide()">Skriv en kommentar</div>
                </div>

                <div id="writeComment">

                    @using (Html.BeginForm("NewsPage", "News", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table>
                            <tr>
                                <td>Din E-postadress </td>
                            </tr>
                            <td id="CommentEmail">@Html.TextBoxFor(m => m.CommentedBy, new {required = "required", pattern=@"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"}))</td>

                            <tr>
                            </tr>
                            <tr>
                            <tr>
                                <td id="hej">Din kommentar </td>
                            </tr>

                            <td id="commentContent">@Html.TextAreaFor(m => m.Value ,  new {required = "required"})</td>

                            </tr>
                            <tr>
                                <br>
                                <td>@Html.HiddenFor(m => m.ArticleId)</td>
                            </tr>
                            <tr>
                                <td colspan="2"><input id="submitcomment" type="submit" value="Lägg till kommentar" /></td>

                            </tr>
                        </table>
                    }



                </div>
                <div class="listComments">

                    @{
                        foreach (var comments in article.Comments)
                        {
                            <div class="commentContent">
                                <div class="firstRow">
                                    <p id="commentCreator">@comments.CommentedBy</p>
                                    <p id="commentTime">@comments.Created</p>
                                </div>

                                <p id="boarderRow">@comments.Value</p>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>

</body>

<footer>
    <div id="footer1" class="footerobj">
        <h2>Blåatoppens dagblad</h2>
        <p>Bettorpsgatan 10</p>
        <p>703 69 Örebro</p>
        <a id="admin" href="https://localhost:7208/Admin">Admin</a>
    </div>
    <div id="footer2" class="footerobj">
        <h2>Om oss</h2>
        <p>
            Dagstidningen Blåatoppens dagblad grundades 1821. Tidningen har under 100 år varit
            den mest lästa tidningen i hela Blåatoppen. Ambitionen med tidningen har sedan dess
            grundande varit att tillhandahålla medborgarna med nyhetsrapportering av den allra
            högsta kvalitén. Blåatoppens dagblad finns i dag tillgänglig som papperstidning. etidning,
            sajt, ljud-tidning och VR-upplevelse.
        </p>
    </div>
</footer>