@using Service.Models
@{
    IEnumerable<ArticleSummaryDTO> pinned = ViewData["pinned"] as IEnumerable<ArticleSummaryDTO>;
    IEnumerable<ArticleSummaryDTO> latest = ViewData["latest"] as IEnumerable<ArticleSummaryDTO>;

}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <h3>Blåatoppens dagblad</h3>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
        <div id="colorslide">Byt tema</div>
    </div>
</header>

<body>
    <div id="maincontainer">
        <div id="pinnedArticles">
            @{

                foreach (var article in pinned)
                {
                    string title = @article.Title.Replace(" ", "-");
                    <a id="articleCardsLink" href=@Url.Action("NewsPage","News", new {articleid = article.Id, title} )>
                        <div class="articleCards">
                            <img src="~/images/@article.ImageName" class="articlePic" alt="image" />
                            <p class="articleTime">@article.Created</p>
                            <p class="articleTitle">@article.Title</p>
                            <p class="articleAuthor"> – @article.AuthorFirstName.ToUpper() @article.AuthorLastName.ToUpper()</p>
                        </div>
                    </a>
                }
            }
        </div>
        <div id="adsAndLatestNew">
            <div id="pinnedAds">
                
                @{
                    Random rnd = new Random();
                    int rand = rnd.Next(1, 4);

                    <a id="articleAdsLink" href=https://www.buyawesomestuff.com target="_blank">
                        <picture>
                            <source media="(min-width: 300px) and (max-width: 470px)" srcset="~/ads/reklam-@rand-landscape-470w.png">
                            <source media="(min-width: 471px) and (max-width: 940px)" srcset="~/ads/reklam-@rand-landscape-940w.png">
                            <source media="(min-width: 941px) and (max-width: 1029px)" srcset="~/ads/reklam-@rand-landscape-1880w.png">
                            <source media="(min-width: 1030px)" srcset="~/ads/reklam-@rand-portrait-320w.png">
                            <img src="~/ads/reklam-@rand-landscape-1880w.png" class="adsPic" alt=image>
                        </picture>
                    </a>
                }
            </div>
            <div class="latestNews">
                <h2>De senaste nyheterna</h2>
                @{
                    foreach (var article in latest)
                    {
                        string title = @article.Title.Replace(" ", "-");
                        
                        <div class="latestArticleCard" onclick="">

                            <p id="latestdate">
                                @(article.Created.Value.Date==DateTime.Today.Date ? article.Created.Value.ToString(@"H:mm"):
                        article.Created.Value.ToString(@"H:mm")+
                        "\n" +
                        article.Created.Value.ToString(@"dd/MM")
                            )
                            </p>
                            <div class="latesttitle">
                                <p class="latesttitletitle">@(article.Title.Length>25 ? @article.Title.Substring(0, 25)+"...":@article.Title)</p>
                                <p>@(article.Intro.Length>35 ? @article.Intro.Substring(0, 35)+"...":@article.Intro)</p>

                            </div>

                            <a type="button" href=@Url.Action("NewsPage","News", new {articleid = article.Id, title}) id="latestbutton"> Läs mer  <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
</body>

<footer>
    <div id="footer1" class="footerobj">
        <h2>Blåatoppens dagblad</h2>
        <p>Bettorpsgatan 10</p>
        <p>703 69 Örebro</p>
        <a id="admin" href="https://localhost:7208/Admin">Admin</a>
    </div>
    <div id="footer2" class="footerobj">
        <h2>Om oss</h2>
        <p>
            Dagstidningen Blåatoppens dagblad grundades 1821. Tidningen har under 100 år varit
            den mest lästa tidningen i hela Blåatoppen. Ambitionen med tidningen har sedan dess
            grundande varit att tillhandahålla medborgarna med nyhetsrapportering av den allra
            högsta kvalitén. Blåatoppens dagblad finns i dag tillgänglig som papperstidning. etidning,
            sajt, ljud-tidning och VR-upplevelse.
        </p>
    </div>
</footer>

